@model Coditas_MVCApps1_DataAccess.models.Catagory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Catagory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatagoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatagoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatagoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatagoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CatagoryId  }) |
    <a asp-action="Index">Back to List</a>
</div>
