@model IEnumerable<Coditas_MVCApps1_DataAccess.models.Catagory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatagoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatagoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatagoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatagoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CatagoryId  }) |
                @Html.ActionLink("Details", "ShowDetails", new {  id=item.CatagoryId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.CatagoryId  })
            </td>
        </tr>
}
    </tbody>
</table>
